{% extends 'base.html.twig' %}

{% block title %}Modifier une session{% endblock %}

{% block body %}
<h1>Modifier la session</h1>

{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">Mettre à jour</button>
{{ form_end(form) }}

<a href="{{ path('session_index') }}">← Retour à la liste</a>
{% endblock %}
