{% extends 'base.html.twig' %}

{% block title %}Liste des sessions{% endblock %}

{% block body %}
<h1>Sessions</h1>

<a href="{{ path('session_new') }}">Ajouter une session</a>

<table border="1" cellpadding="5" cellspacing="0">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Date</th>
            <th>Lieu</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for session in sessions %}
        <tr>
            <td>{{ session.id }}</td>
            <td>{{ session.nom }}</td>
            <td>{{ session.date ? session.date|date(
